DATABASE_URL="postgresql://postgres:8922@localhost:5432/jsyc?schema=public"
JWT_SECRET="secret"
PORT=4000

PAYU_MERCHANT_KEY=JfXg1C
PAYU_MERCHANT_SALT=95Klr2KXpuM0AkeLVcprLemdHCfra5K1

PAYU_BASE_URL=https://test.payu.in

PAYU_SUCCESS_URL=https://jsyc.org.in/api/payment/success
PAYU_FAILURE_URL=https://jsyc.org.in/api/payment/failure

FRONTEND_URL=https://jsyc.org.in

# PAYU_SUCCESS_URL=http://localhost:4000/api/payment/success
# PAYU_FAILURE_URL=http://localhost:4000/api/payment/failure
# FRONTEND_URL=http://localhost:4001
